* {
  margin: 0;
  padding: 0;
}

body {
  background-color: olive;
  text-align: center;
}

main {
  padding: 15px 0;
}

.container {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #FDFDD8;
  background-color: #2e2e20;
  /* font-family: "Wix Madefor Display", sans-serif; */
  font-weight: 200;
  width: 200px;
  height: 36px;
  border: 1px solid black;
  border-radius: 5px;
  margin: auto;
}

.game {
  height: 51vmin;
  width: 51vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
}

.box {
  height: 15vmin;
  width: 15vmin;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  font-size: 7vmin;
  color: #131310;
  background-color: rgb(250, 250, 151);
}

#resetBtn, #newBtn {
  padding: 0.8rem;
  font-size: 1rem;
  color: rgb(250, 250, 151);
  background-color: #181a11;
  border: none;
  border-radius: 1rem;
}

#msg {
  color: #FBFBB1;
}

.msgContainer {
  height: 20vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hide {
  display: none;
}

.line-through {
  position: relative;
}

.line-through:after {
  content: "";
  position: absolute;
  background-color: #383A2C;
  transform-origin: center;
}

.row-1:after {
  width: 100%;
  height: 4px;
  top: 50%;
  left: 0;
}

.row-2:after {
  width: 100%;
  height: 4px;
  top: 50%;
  left: 0;
}

.row-3:after {
  width: 100%;
  height: 4px;
  top: 50%;
  left: 0;
}

.col-1:after {
  height: 100%;
  width: 4px;
  top: 0;
  left: 50%;
}

.col-2:after {
  height: 100%;
  width: 4px;
  top: 0;
  left: 50%;
}

.col-3:after {
  height: 100%;
  width: 4px;
  top: 0;
  left: 50%;
}

.diag-1:after {
  width: 130%;
  height: 4px;
  top: 48%;
  left: -15%;
  transform: rotate(45deg);
}

.diag-2:after {
  width: 130%;
  height: 4px;
  top: 48%;
  left: -15%;
  transform: rotate(-45deg);
}